/* Created by: George Khalil
* Created on: May 2024
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.mdl-textfield__error {
  color: lightgreen;
}

.page-content {
  color: rgb(255, 255, 255);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

.page-content-answer {
  color: rgb(255 255 255);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}


img {
  height: auto;
  width: 250px;
  float: right;
  border-radius: 20%;
}

body {
  background-color: rgb(96, 125, 123)
}